<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Axa Motor Policy</h5>
      <br>
      <input 
        type="text" 
        placeholder="Enter Price"
        [formControl]="price"> EGP
      <br> <br>
      <a  class="btn btn-primary"  (click)="getFawryReferenceNumber()">Get Fawry reference Number</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
