<br><br>
<div 
    class="card mb-3 center"
    style="max-width: 540px;"
>
    
    <div class="row g-0">
      
        <div class="col-md-4">
            <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/AXA_Logo.svg/2048px-AXA_Logo.svg.png" 
            class="img-fluid rounded-start" 
            alt="AxA logo">
        </div>

        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">AxA motor policy payment</h5>
            <p class="card-text">PaymentReferenceNumber is : {{refNumResp.referenceNumber}}</p>
            <p class="card-text">Expires at : {{refNumResp.expiry | dateTimeGmt }}</p>
            </div>
        </div>

    </div>
  
</div>